langchain
langchain-core
langchain-groq 
python-dotenv
fastapi
uvicorn[standard]
bcrypt
modal
streamlit
sentence-transformers
qdrant-client
langchain
langchain-community
langchain-groq
pypdf
langchain-text-splitters
